@page "/audit"
@attribute [Authorize(Permission.ViewAuditPolicy)]
@using Phantom.Server.Services.Audit
@using Phantom.Server.Services.Instances
@using Phantom.Server.Services.Users
@using System.Collections.Immutable
@using Phantom.Server.Database.Enums
@implements IDisposable
@inject AuditLog AuditLog
@inject InstanceManager InstanceManager
@inject UserManager UserManager

<h1>Audit Log</h1>

<table class="table">
  <thead>
    <tr>
      <Column Width="165px" Class="text-end">Time</Column>
      <Column Width="320px; 20%">User</Column>
      <Column Width="160px">Event Type</Column>
      <Column Width="320px; 20%">Subject</Column>
      <Column Width="100px; 60%">Data</Column>
    </tr>
  </thead>
  <tbody>
    @foreach (var logItem in logItems) {
      DateTimeOffset time = logItem.UtcTime.ToLocalTime();
      <tr>
        <td class="text-end">
          <time datetime="@time.ToString("o")">@time.ToString()</time>
        </td>
        <td>
          @(logItem.UserName ?? "-")
          <br>
          <code class="text-uppercase">@logItem.UserGuid</code>
        </td>
        <td>@logItem.EventType.ToNiceString()</td>
        <td>
          @if (logItem.SubjectId is {} subjectId && GetSubjectName(logItem.SubjectType, subjectId) is {} subjectName) {
            @subjectName
            <br>
          }
          <code class="text-uppercase">@(logItem.SubjectId ?? "-")</code>
        </td>
        <td>
          <code>@logItem.Data?.RootElement.ToString()</code>
        </td>
      </tr>
    }
  </tbody>
</table>

@code {

  private CancellationTokenSource? initializationCancellationTokenSource;
  private AuditLogItem[] logItems = Array.Empty<AuditLogItem>();
  private Dictionary<Guid, string>? userNamesByGuid;
  private ImmutableDictionary<Guid, string> instanceNamesByGuid = ImmutableDictionary<Guid, string>.Empty;

  protected override async Task OnInitializedAsync() {
    initializationCancellationTokenSource = new CancellationTokenSource();
    var cancellationToken = initializationCancellationTokenSource.Token;

    try {
      logItems = await AuditLog.GetItems(50, cancellationToken);
      userNamesByGuid = await UserManager.GetAllByGuid(static user => user.Name, cancellationToken);
      instanceNamesByGuid = InstanceManager.GetInstanceNames();
    } finally {
      initializationCancellationTokenSource.Dispose();
    }
  }
  
  private string? GetSubjectName(AuditLogSubjectType type, string id) {
    return type switch {
           AuditLogSubjectType.Instance => instanceNamesByGuid.TryGetValue(Guid.Parse(id), out var name) ? name : null,
           AuditLogSubjectType.User     => userNamesByGuid != null && userNamesByGuid.TryGetValue(Guid.Parse(id), out var name) ? name : null,
           _                            => null
    };
  }

  public void Dispose() {
    try {
      initializationCancellationTokenSource?.Cancel();
    } catch (ObjectDisposedException) {}
  }

}
