@page "/agents"

<h1>Agents</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Name</th>
      <th class="text-end">Instances</th>
      <th class="text-end">Memory</th>
    </tr>
  </thead>
  <tbody>
    @if (!agents.IsEmpty) {
      @foreach (var agent in agents) {
        <tr>
          <td>
            <code class="text-uppercase">@agent.Guid.ToString()</code>
          </td>
          <td>@agent.Name</td>
          <td class="text-end">? / @agent.MaxInstances</td>
          <td class="text-end">? / @agent.MaxMemory.InMegabytes MB</td>
        </tr>
      }
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        @(agents.IsEmpty ? "No agents registered." : "")
        Register new agents using the token: <code>@Services.AgentManager.AuthToken</code>
      </td>
    </tr>
  </tfoot>
</table>
@using Phantom.Common.Data
@using Phantom.Server.Services
@using System.Collections.Immutable
@implements IDisposable

@code {

  private ImmutableArray<AgentInfo> agents = ImmutableArray<AgentInfo>.Empty;

  protected override void OnInitialized() {
    Services.AgentManager.AgentInfoChanged.Subscribe(this, agents => {
      this.agents = agents;
      InvokeAsync(StateHasChanged);
    });
  }

  void IDisposable.Dispose() {
    Services.AgentManager.AgentInfoChanged.Unsubscribe(this);
  }

}
