@page "/agents"

<h1>Agents</h1>

<table class="table align-middle">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-end">Instances</th>
      <th class="text-end">Memory</th>
      <th class="text-end">Version</th>
      <th>Identifier</th>
      <th>Actions</th>
    </tr>
  </thead>
  @if (!agents.IsEmpty) {
    <tbody>
      @foreach (var agent in agents) {
        <tr>
          <td>@agent.Name</td>
          <td class="text-end">? / @agent.MaxInstances</td>
          <td class="text-end">? / @agent.MaxMemory.InMegabytes MB</td>
          <td class="text-end">@agent.Version</td>
          <td>
            <code class="text-uppercase">@agent.Guid.ToString()</code>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" @onclick="@(_ => ShutdownAgent(agent.Guid))">Shutdown</button>
          </td>
        </tr>
      }
    </tbody>
  }
  <tfoot>
    <tr>
      <td colspan="6">
        @(agents.IsEmpty ? "No agents registered." : "")
        Register agents using the token: <code>@Services.AgentManager.AuthToken</code>
      </td>
    </tr>
  </tfoot>
</table>
@using Phantom.Common.Data
@using Phantom.Common.Rpc.Messages.ToAgent
@using Phantom.Server.Services
@using System.Collections.Immutable
@implements IDisposable

@code {

  private ImmutableArray<AgentInfo> agents = ImmutableArray<AgentInfo>.Empty;

  protected override void OnInitialized() {
    Services.AgentManager.AgentInfoChanged.Subscribe(this, agents => {
      this.agents = agents.Sort(static(a1, a2) => a1.Name.CompareTo(a2.Name));
      InvokeAsync(StateHasChanged);
    });
  }

  private async Task ShutdownAgent(Guid guid) {
    // TODO disable button
    await Services.AgentManager.SendMessage(guid, new ShutdownAgentMessage());
  }

  void IDisposable.Dispose() {
    Services.AgentManager.AgentInfoChanged.Unsubscribe(this);
  }

}
