@page "/agents"
@using System.Collections.Immutable
@using Phantom.Common.Data
@using Phantom.Common.Rpc.Messages.ToAgent
@using Phantom.Server.Services
@implements IDisposable

<h1>Agents</h1>

<table class="table align-middle">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-end">Instances</th>
      <th class="text-end">Memory</th>
      <th class="text-end">Version</th>
      <th>Identifier</th>
      <th>Actions</th>
    </tr>
  </thead>
  @if (!agents.IsEmpty) {
    <tbody>
      @foreach (var agent in agents) {
        <tr>
          <td>@agent.Name</td>
          <td class="text-end">? / @agent.MaxInstances</td>
          <td class="text-end">? / @agent.MaxMemory.InMegabytes MB</td>
          <td class="text-end">@agent.Version</td>
          <td>
            <code class="text-uppercase">@agent.Guid.ToString()</code>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" @onclick="() => ShutdownAgent(agent.Guid)" disabled="@GetOrAddAgentRow(agent.Guid).IsShutdownButtonDisabled">Shutdown</button>
          </td>
        </tr>
      }
    </tbody>
  }
  <tfoot>
    <tr>
      <td colspan="6">
        @(agents.IsEmpty ? "No agents registered." : "")
        Register agents using the token: <code>@Services.AgentManager.AuthToken</code>
      </td>
    </tr>
  </tfoot>
</table>

@code {

  private ImmutableArray<AgentInfo> agents = ImmutableArray<AgentInfo>.Empty;
  private readonly Dictionary<Guid, AgentRow> agentRows = new ();

  private sealed class AgentRow {
    public bool IsShutdownButtonDisabled { get; set; } = false;
  }

  protected override void OnInitialized() {
    Services.AgentManager.AgentsChanged.Subscribe(this, agents => {
      this.agents = agents.Sort(static (a1, a2) => a1.Name.CompareTo(a2.Name));

      var remainingGuids = agents.Select(static agent => agent.Guid).ToImmutableHashSet();
      foreach (var guid in agentRows.Keys) {
        if (!remainingGuids.Contains(guid)) {
          agentRows.Remove(guid);
        }
      }

      InvokeAsync(StateHasChanged);
    });
  }

  private AgentRow GetOrAddAgentRow(Guid guid) {
    return agentRows.TryGetValue(guid, out var row) ? row : agentRows[guid] = new AgentRow();
  }

  private async Task ShutdownAgent(Guid guid) {
    GetOrAddAgentRow(guid).IsShutdownButtonDisabled = true;
    await Services.AgentManager.SendMessage(guid, new ShutdownAgentMessage());
  }

  void IDisposable.Dispose() {
    Services.AgentManager.AgentsChanged.Unsubscribe(this);
  }

}
