@page "/instances/{InstanceGuid:guid}"
@using Phantom.Server.Services.Instances
@using Phantom.Common.Data.Instance
@using Phantom.Common.Data.Replies
@using Phantom.Utils.Collections
@using Phantom.Utils.Events
@implements IDisposable
@inject IJSRuntime Js;
@inject InstanceManager InstanceManager;

@if (InstanceInfo == null) {
  <h1>Instance Not Found</h1>
  <p>Return to <a href="/instances">all instances</a>.</p>
}
else {
  <h1>Instance: @InstanceInfo.InstanceName</h1>
  <button type="button" class="btn btn-success" @onclick="LaunchInstance" disabled="@isLaunchingInstance">Launch</button>
  @if (launchError != null) {
    <p class="text-danger">@launchError</p>
  }
  <div id="log" class="font-monospace mb-3">
    @foreach (var line in instanceLogs.EnumerateLast(uint.MaxValue)) {
      <p>@line</p>
    }
  </div>

  <div class="mb-3">
    <form @onsubmit="ExecuteCommand">
      <label for="command-input" class="form-label">Instance Name</label>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" style="padding-top: 0.3rem;">/</span>
        <input id="command-input" class="form-control" type="text" placeholder="command" @bind="commandInput" @bind:event="oninput" disabled="@isSendingCommand" @ref="commandInputElement" />
        <button type="submit" class="btn btn-primary" disabled="@(string.IsNullOrWhiteSpace(commandInput) || isSendingCommand)">Execute</button>
      </div>
    </form>
  </div>
}

@code {

  [Parameter]
  public Guid InstanceGuid { get; set; }

  private string? launchError = null;
  private bool isLaunchingInstance = false;

  private ElementReference commandInputElement;
  private string commandInput = string.Empty;
  private bool isSendingCommand = false;

  private InstanceInfo? InstanceInfo { get; set; }
  private IJSObjectReference? PageJs { get; set; }

  private EventSubscribers<RingBuffer<string>> instanceLogsSubs = null!;
  private RingBuffer<string> instanceLogs = null!;

  protected override void OnInitialized() {
    InstanceInfo = InstanceManager.GetInstance(InstanceGuid);
    instanceLogsSubs = InstanceManager.GetInstanceLogsSubs(InstanceGuid);
    instanceLogsSubs.Subscribe(this, buffer => {
      instanceLogs = buffer;
      InvokeAsync(RefreshLog);
    });
  }

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    if (firstRender) {
      PageJs = await Js.InvokeAsync<IJSObjectReference>("import", "./Pages/InstanceDetail.razor.js");
      StateHasChanged();

      await PageJs.InvokeVoidAsync("initLog");
    }
  }

  private async Task LaunchInstance() {
    isLaunchingInstance = true;
    launchError = null;
    
    var result = await InstanceManager.LaunchInstance(InstanceGuid);
    launchError = GetLaunchResultError(result);
    isLaunchingInstance = false;
  }

  private async Task RefreshLog() {
    StateHasChanged();

    if (PageJs != null) {
      await PageJs.InvokeVoidAsync("scrollLog");
    }
  }

  private async Task ExecuteCommand() {
    isSendingCommand = true;
    await Task.Yield();

    var result = await InstanceManager.SendCommand(InstanceGuid, commandInput);
    if (result == SendCommandToInstanceResult.Success) {
      commandInput = string.Empty;
    }
    else { // TODO
    }

    isSendingCommand = false;
    await commandInputElement.FocusAsync(preventScroll: true);
  }

  public void Dispose() {
    instanceLogsSubs.Unsubscribe(this);
  }

  private static string? GetLaunchResultError(LaunchInstanceResult result) {
    return result switch {
           LaunchInstanceResult.Success => null,
           LaunchInstanceResult.AgentShuttingDown => "Agent is shutting down.",
           LaunchInstanceResult.InstanceDoesNotExist => "Instance does not exist.",
           LaunchInstanceResult.InstanceAlreadyRunning => "Instance is already running.",
           LaunchInstanceResult.JavaRuntimeNotFound => "Java runtime not found.",
           LaunchInstanceResult.CouldNotDownloadMinecraftServer => "Could not download Minecraft server.",
           LaunchInstanceResult.ServerPortAlreadyInUse => "Server port is already in use.",
           LaunchInstanceResult.RconPortAlreadyInUse => "Rcon port is already in use.",
           LaunchInstanceResult.CommunicationError => "Communication error.",
           _ => "Unknown error."
           };
  }

}
