@page "/instances"
@using System.Collections.Immutable
@using Phantom.Server.Services.Agents
@using Phantom.Server.Services.Instances
@implements IDisposable
@inject AgentManager AgentManager
@inject InstanceManager InstanceManager

<h1>Instances</h1>

<a href="/instances/create" class="btn btn-primary" role="button">New Instance</a>

<table class="table align-middle">
  <thead>
    <tr>
      <th style="min-width: 200px;">Name</th>
      <th style="min-width: 200px;">Agent</th>
      <th style="width: 125px;" class="text-center">Port</th>
      <th style="width: 125px;" class="text-end">Memory</th>
      <th style="width: 350px;">Identifier</th>
      <th style="width: 225px;">Status</th>
      <th style="width: 200px;">Actions</th>
    </tr>
  </thead>
  @if (!instances.IsEmpty) {
    <tbody>
      @foreach (var (configuration, status) in instances) {
        var instanceGuid = configuration.InstanceGuid.ToString();
        <tr>
          <td>@configuration.InstanceName</td>
          <td>@(agentNames.TryGetValue(configuration.AgentGuid, out var agentName) ? agentName : string.Empty)</td>
          <td class="text-center">
            <code>@configuration.ServerPort</code>
          </td>
          <td class="text-end">
            <code>@configuration.MemoryAllocation.InMegabytes MB</code>
          </td>
          <td>
            <code class="text-uppercase">@instanceGuid</code>
          </td>
          <td>
            <InstanceStatusText Status="status" />
          </td>
          <td>
            <a href="/instances/@instanceGuid" class="btn btn-info btn-sm">Detail</a>
          </td>
        </tr>
      }
    </tbody>
  }
  @if (instances.IsEmpty) {
    <tfoot>
      <tr>
        <td colspan="7">
          No instances.
        </td>
      </tr>
    </tfoot>
  }
</table>

@code {

  private ImmutableArray<Instance> instances = ImmutableArray<Instance>.Empty;
  private ImmutableDictionary<Guid, string> agentNames = ImmutableDictionary<Guid, string>.Empty;

  protected override void OnInitialized() {
    InstanceManager.InstancesChanged.Subscribe(this, instances => {
      this.instances = instances.Values.OrderBy(static instance => instance.Configuration.InstanceName).ToImmutableArray();
      InvokeAsync(StateHasChanged);
    });

    AgentManager.AgentsChanged.Subscribe(this, agents => {
      this.agentNames = agents.ToImmutableDictionary(static agent => agent.Guid, static agent => agent.Name);
      InvokeAsync(StateHasChanged);
    });
  }

  void IDisposable.Dispose() {
    InstanceManager.InstancesChanged.Unsubscribe(this);
    AgentManager.AgentsChanged.Unsubscribe(this);
  }

}
