@page "/instances/create"
@using Phantom.Common.Data
@using Phantom.Server.Services
@using System.Collections.Immutable
@using System.ComponentModel.DataAnnotations
@using Phantom.Server.Web.Utils

<h1>New Instance</h1>

<EditForm EditContext="editContext" OnSubmit="Submit">
  <DataAnnotationsValidator />

  <div class="row">
    <div class="col-xl-6 mb-3">
      <label for="instance-agent" class="form-label">Agent</label>
      <InputSelect id="instance-agent" class="form-select" @bind-Value="form.SelectedAgentGuid">
        <option value="" selected>Select agent that will run the instance...</option>
        @foreach (var agent in agentsByGuid.Values.OrderBy(static agent => agent.Guid)) {
          <option value="@agent.Guid">@agent.Name (Max @agent.MaxInstances @(agent.MaxInstances == 1 ? "Instance" : "Instances"), @agent.MaxMemory.InMegabytes MB RAM)</option>
        }
      </InputSelect>
      <ValidationMessage For="() => form.SelectedAgentGuid" class="invalid-feedback" />
    </div>

    <div class="col-xl-4 mb-3">
      <label for="instance-name" class="form-label">Instance Name</label>
      <InputText id="instance-name" class="form-control" type="text" @bind-Value="form.InstanceName" />
      <ValidationMessage For="() => form.InstanceName" class="invalid-feedback" />
    </div>

    <div class="col-xl-2 mb-3">
      <label for="instance-server-kind" class="form-label">Server Software</label>
      <InputSelect id="instance-server-kind" class="form-select" @bind-Value="form.MinecraftServerKind">
        @foreach (var kind in Enum.GetValues<MinecraftServerKind>()) {
          <option value="@kind">@kind</option>
        }
      </InputSelect>
      <ValidationMessage For="() => form.MinecraftServerKind" class="invalid-feedback" />
    </div>
  </div>

  <div class="row">
    <div class="col-xl mb-3">
      <label for="instance-memory" class="form-label">RAM: @form.MemoryInMegabytes MB</label>
      <input id="instance-memory" class="form-range" type="range" min="0" max="@MaximumMemoryUnits" @bind-value="form.MemoryUnits" @bind-value:event="oninput" disabled="@(SelectedAgentInfo == null)" />
      <ValidationMessage For="() => form.MemoryUnits" class="invalid-feedback" />
    </div>
  </div>

  <input type="submit" class="btn btn-primary" value="Create Instance" disabled="@isSubmitting">
</EditForm>

@code {

  private readonly ImmutableDictionary<Guid, AgentInfo> agentsByGuid = Services.AgentManager.GetAgents();
  private readonly FormModel form = new();

  private EditContext editContext = null!;
  private bool isSubmitting = false;

  private AgentInfo? SelectedAgentInfo => form.SelectedAgentGuid == null || !agentsByGuid.TryGetValue(form.SelectedAgentGuid.Value, out var agentInfo) ? null : agentInfo;
  private ushort MaximumMemoryUnits => SelectedAgentInfo?.MaxMemory.RawValue ?? 0;

  private sealed class FormModel {
    [Required(ErrorMessage = "You must select an agent.")]
    public Guid? SelectedAgentGuid { get; set; } = null;

    [Required(ErrorMessage = "Instance name is required.")]
    [StringLength(100, ErrorMessage = "Instance name must be at most 100 characters.")]
    public string InstanceName { get; set; } = string.Empty;

    public MinecraftServerKind MinecraftServerKind { get; set; } = MinecraftServerKind.Vanilla;

    public ushort MemoryUnits { get; set; } = 0;
    public uint MemoryInMegabytes => new RamAllocationUnits(MemoryUnits).InMegabytes;
  }

  protected override void OnInitialized() {
    editContext = BootstrapEditContext.Create(form);
  }

  private async Task Submit(EditContext context) {
    if (!context.Validate()) {
      return;
    }

    isSubmitting = true;
    await Task.Delay(2000);
    isSubmitting = false;
  }

}
