@page "/instances/{InstanceGuid:guid}"
@using Phantom.Common.Data
@using Phantom.Common.Data.Replies
@using Phantom.Server.Services
@using Phantom.Utils.Collections
@inject IJSRuntime Js;

@if (InstanceInfo == null) {
  <h1>Instance Not Found</h1>
  <p>Return to <a href="/instances">all instances</a>.</p>
}
else {
  <h1>Instance: @InstanceInfo.InstanceName</h1>
  <button type="button" class="btn btn-success" @onclick="LaunchInstance" disabled="@isLaunchingInstance">Launch</button>
  <div id="log" class="font-monospace mb-3">
    @foreach (var line in outputLines.EnumerateLast(uint.MaxValue)) {
      <p>@line</p>
    }
  </div>

  <div class="mb-3">
    <form @onsubmit="ExecuteCommand">
    <label for="command-input" class="form-label">Instance Name</label>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" style="padding-top: 0.3rem;">/</span>
        <input id="command-input" class="form-control" type="text" placeholder="command" @bind="commandInput" @bind:event="oninput" disabled="@isSendingCommand" @ref="commandInputElement" />
        <button type="submit" class="btn btn-primary" disabled="@(string.IsNullOrWhiteSpace(commandInput) || isSendingCommand)">Execute</button>
      </div>
    </form>
  </div>
}

@code {

  [Parameter]
  public Guid InstanceGuid { get; set; }

  private ElementReference commandInputElement;
  private string commandInput = string.Empty;
  private bool isLaunchingInstance = false;
  private bool isSendingCommand = false;

  private InstanceInfo? InstanceInfo { get; set; }
  private IJSObjectReference? PageJs { get; set; }

  private readonly RingBuffer<string> outputLines = new(1000);

  protected override void OnInitialized() {
    InstanceInfo = Services.InstanceManager.GetInstance(InstanceGuid);
  }

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    if (firstRender) {
      PageJs = await Js.InvokeAsync<IJSObjectReference>("import", "./Pages/InstanceDetail.razor.js");
      StateHasChanged();
    }
  }

  private async Task LaunchInstance() {
    isLaunchingInstance = true;
    await Services.InstanceManager.LaunchInstance(InstanceGuid);
    isLaunchingInstance = false;

  // Task.Run(async () => {
  //   Random r = new Random();
  //   while (true) {
  //     outputLines.Add("random: " + r.NextInt64());
  //     await InvokeAsync(StateHasChanged);
  //
  //     if (PageJs != null) {
  //       await PageJs.InvokeVoidAsync("scrollLog");
  //     }
  //
  //     await Task.Delay(r.Next(300, 1200));
  //   }
  // });
  }

  private async Task ExecuteCommand() {
    isSendingCommand = true;
    await Task.Yield();

    var result = await Services.InstanceManager.SendCommand(InstanceGuid, commandInput);
    if (result == SendCommandToInstanceResult.Success) {
      commandInput = string.Empty;
    }
    else { // TODO
    }

    isSendingCommand = false;
    await commandInputElement.FocusAsync(preventScroll: true);
  }

}
