@inject INavigation Nav
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <NotAuthorized>
          @if (context.User.Identity is not { IsAuthenticated: true }) {
            var returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).TrimEnd('/');
            Nav.NavigateTo("login" + QueryString.Create("return", returnUrl), forceLoad: true);
          }
          else {
            <h1>Forbidden</h1>
            <p role="alert">You do not have permission to visit this page.</p>
          }
        </NotAuthorized>
      </AuthorizeRouteView>
      <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
      <LayoutView Layout="@typeof(MainLayout)">
        <h1>Not Found</h1>
        <p role="alert">Sorry, there's nothing at this address.</p>
      </LayoutView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>
